@font-face {
  font-family: "iconfont"; /* Project id 4330959 */
  src: url('iconfont.woff2?t=1700482333804') format('woff2'),
       url('iconfont.woff?t=1700482333804') format('woff'),
       url('iconfont.ttf?t=1700482333804') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qianbi:before {
  content: "\e60c";
}

.icon-shizhong:before {
  content: "\e629";
}

.icon-book:before {
  content: "\e63a";
}

.icon-huzhujihua:before {
  content: "\e600";
}

.icon-kefujingli-:before {
  content: "\e65d";
}

.icon-shoucang:before {
  content: "\e617";
}

.icon-tubiaozhizuomobanyihuifu-:before {
  content: "\e69f";
}

.icon-xinfengyoujian:before {
  content: "\e6eb";
}

.icon-zhinanzhen1:before {
  content: "\eae9";
}

.icon-tousujianyi:before {
  content: "\e620";
}

.icon-xiazai:before {
  content: "\e60e";
}

.icon-saoyisaosaomiao:before {
  content: "\e7c1";
}

.icon-aixinxiantiao:before {
  content: "\e66f";
}

.icon-jishiben:before {
  content: "\e60d";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-dengpao:before {
  content: "\e65e";
}

.icon-2shoubing:before {
  content: "\e624";
}

.icon-a-filedwrite2:before {
  content: "\e637";
}

.icon-yueliang:before {
  content: "\e6a3";
}

.icon-xuexi-:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-fenlei:before {
  content: "\e60b";
}

.icon-zhinanzhen:before {
  content: "\e61f";
}

.icon-a-014_qianbi:before {
  content: "\e645";
}

